* {
  margin: 0;
}

.pai {
  height: 300vh;
}

.filha1, .filha2, .filha3 {
  width: 300px;
  height: 300px;
  background:rgba(248, 3, 3, 0.658);
  margin: 10px;
  position:static;
}

.filha2 {
  background: rgba(0, 0, 255, 0.74);
}

.filha1 {
 }

.filha3 {
  background: blue;
  position: relative;
  top: 100px;
  left: 100px;
}

.outra {
  position:absolute;
  font-size: 50px;
  background: #fff;
  top: 50px;
  left: 0;
}